<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sản phẩm - Website Phụ kiện - Duy Nguyễn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <style>
        body {
            margin-top: 56px;
        }
        
        .sidebar-sticky {
            z-index: 0 !important;
        }

        input {
            max-width: 100%;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light bg-white shadow-sm fixed-top" style="background: #356690 !important;">
        <a class="navbar-brand h1">Phụ Kiện Béo</a>
        <form class="form-inline mr-auto">
            <input class="form-control rounded-0" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0 rounded-left rounded-0" type="submit">Tìm kiếm</button>
        </form>
        <div class="btn-group mr-2" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Đăng nhập</button>
            <button type="button" class="btn btn-secondary">Đăng ký</button>
        </div>
        <!-- cart -->
        <div class="btn-group">
            <button type="button" class="btn btn-info rounded-0"><i class="fas fa-shopping-cart"></i></button>
            <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
        <!-- endcart -->
    </nav>
    <!-- main -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar-sticky fixed-top px-1" style="margin-top:56px">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1  text-success">
                      <span><i class="fas fa-plus-circle"></i> Danh mục sản phẩm</span>

                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-caret-right"></i> Phụ kiện Iphone
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-caret-right"></i> Phụ kiện Samsung
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-caret-right"></i> Phụ kiện Xiaomi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-caret-right"></i> Phụ kiện Oppo
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-caret-right"></i> Phụ kiện Sony
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-caret-right"></i> Phụ kiện hãng khác
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center mt-4 mb-1 text-success px-3">
          <span><i class="fas fa-plus-circle"></i> Website</span>
        </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-caret-right"></i> Chính sách bảo hành
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-caret-right"></i> Đổi trả hàng
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-caret-right"></i> Tin tức
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 border-left">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center mt-4 mb-2 text-success" style="border-bottom: 1px dashed #ccc">
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
                      </ol>
                    </nav>
                </h6>
                <!-- gio hang -->
                <div class="row bg-light py-2 border-bottom">
                    <div class="col-2 text-center">Sản phẩm</div>
                    <div class="col-3 text-center">Thông tin sản phẩm</div>
                    <div class="col-2 text-center">Đơn giá</div>
                    <div class="col-1 text-center">Số lượng</div>
                    <div class="col-2 text-center">Thành tiền</div>
                    <div class="col-2 text-center">Tác vụ</div>
                </div>
                <div class="row border-bottom py-2">
                    <div class="col-2 text-center">
                        <img src="https://via.placeholder.com/70" alt="">
                    </div>
                    <div class="col-3 text-center">
                        <p class="h6">Tai nghe Airpod 2019</p>
                        <p>Vàng</p>
                    </div>
                    <div class="col-2 text-center">
                        500$
                    </div>
                    <div class="col-1 text-center">
                        <input type="number" value="1">
                    </div>
                    <div class="col-2 text-center">
                        500$
                    </div>
                    <div class="col-2 text-center">
                        <button class="btn btn-danger"><i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="row border-bottom py-2">
                    <div class="col-2 text-center">
                        <img src="https://via.placeholder.com/70" alt="">
                    </div>
                    <div class="col-3 text-center">
                        <p class="h6">Tai nghe Airpod 2019</p>
                        <p>Vàng</p>
                    </div>
                    <div class="col-2 text-center">
                        500$
                    </div>
                    <div class="col-1 text-center">
                        <input type="number" value="1">
                    </div>
                    <div class="col-2 text-center">
                        500$
                    </div>
                    <div class="col-2 text-center">
                        <button class="btn btn-danger"><i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="row border-bottom py-2">
                    <div class="col-2 text-center">
                        <img src="https://via.placeholder.com/70" alt="">
                    </div>
                    <div class="col-3 text-center">
                        <p class="h6">Tai nghe Airpod 2019</p>
                        <p>Vàng</p>
                    </div>
                    <div class="col-2 text-center">
                        500$
                    </div>
                    <div class="col-1 text-center">
                        <input type="number" value="1">
                    </div>
                    <div class="col-2 text-center">
                        500$
                    </div>
                    <div class="col-2 text-center">
                        <button class="btn btn-danger"><i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="row border-bottom py-2">
                    <div class="col-2 text-center">
                        <img src="https://via.placeholder.com/70" alt="">
                    </div>
                    <div class="col-3 text-center">
                        <p class="h6">Tai nghe Airpod 2019</p>
                        <p>Vàng</p>
                    </div>
                    <div class="col-2 text-center">
                        500$
                    </div>
                    <div class="col-1 text-center">
                        <input type="number" value="1">
                    </div>
                    <div class="col-2 text-center">
                        500$
                    </div>
                    <div class="col-2 text-center">
                        <button class="btn btn-danger"><i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-8 h6">Tổng tiền : </div>
                    <div class="col-2 text-center">2000$</div>
                    <div class="col-2 text-center"><button class="btn btn-success"><i class="fas fa-angle-right"></i> Thanh toán</button></div>
                </div>

            </div>
        </div>
        <div class="row bg-light border-top">
            <div class="col-md-6">Cửa hàng</div>
            <div class="col-md-3">Thông tin</div>
            <div class="col-md-3">Hỗ trợ thanh toán</div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>