<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard - Website Phụ kiện - Duy Nguyễn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <style>
        body {
            margin-top: 56px;
        }
        
        .sidebar-sticky {
            z-index: 0 !important;
            margin-top:56px;min-height: 100%;border-right: 1px solid #ccc;
        }
        
        input {
            max-width: 100%;
        }
        
        .card-body-icon {
            position: absolute;
            z-index: 0;
            top: -1.25rem;
            right: -1rem;
            opacity: 0.4;
            font-size: 5rem;
            -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light bg-white shadow-sm fixed-top" style="background: #356690 !important;">
        <a class="navbar-brand h1">Phụ Kiện Béo</a>
        <form class="form-inline mr-auto">
            <input class="form-control rounded-0" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0 rounded-left rounded-0" type="submit">Tìm kiếm</button>
        </form>
        <div class="btn-group mr-2" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Đăng nhập</button>
            <button type="button" class="btn btn-secondary">Đăng ký</button>
        </div>
        <!-- cart -->
        <div class="btn-group">
            <button type="button" class="btn btn-info rounded-0"><i class="fas fa-shopping-cart"></i></button>
            <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
        <!-- endcart -->
    </nav>
    <!-- main -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar-sticky fixed-top px-1 col-2">
                    <!-- <div class="px-1"> -->
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1  text-secondary">
                      <span><i class="fas fa-home"></i> Quản lý</span>

                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-muted" data-toggle="collapse" href="#qldm" role="button" aria-expanded="false" aria-controls="qldm">
                                <i class="fas fa-list-ol"></i> Danh mục
                            </a>
                        </li>
                        <div class="collapse" id="qldm">
                            <ul>
                                <li>Danh sách danh mục</li>
                                <li>Thêm danh mục</li>
                            </ul>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link text-muted" data-toggle="collapse" href="#qlsp" role="button" aria-expanded="false" aria-controls="qlsp">
                                <i class="fas fa-shopping-cart"></i> Sản phẩm
                            </a>
                        </li>
                        <div class="collapse" id="qlsp">
                            <ul>
                                <li>Danh sách sản phẩm</li>
                                <li>Thêm sản phẩm</li>
                            </ul>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-users"></i> Người dùng
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-clipboard"></i> Hóa đơn
                            </a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center mt-4 mb-1 text-success px-3">
          <span><i class="fas fa-plus-circle"></i> Thiết lập</span>
        </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-caret-right"></i> Website
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center mt-4 mb-2 text-success">
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Quản lý</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Danh mục</li>
                      </ol>
                    </nav>
                </h6>
                <!-- binh luan moi -->
                <div class="row">
                    <div class="col-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tên danh mục</th>
                                    <th scope="col">Số sản phẩm</th>
                                    <th scope="col">Tác vụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Danh mục 1</td>
                                    <td>10</td>
                                    <td>
                                        <button class="btn btn-warning">Sửa</button>
                                        <button class="btn btn-danger">Xóa</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Danh mục 2</td>
                                    <td>10</td>
                                    <td>
                                        <button class="btn btn-warning">Sửa</button>
                                        <button class="btn btn-danger">Xóa</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Danh mục 3</td>
                                    <td>10</td>
                                    <td>
                                        <button class="btn btn-warning">Sửa</button>
                                        <button class="btn btn-danger">Xóa</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- end binh luan -->

            </div>
        </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>