<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sản phẩm - Website Phụ kiện - Duy Nguyễn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <style>
        body {
            margin-top: 56px;
        }
        
        .sidebar-sticky {
            z-index: 0 !important;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light bg-white shadow-sm fixed-top" style="background: #356690 !important;">
        <a class="navbar-brand h1">Phụ Kiện Béo</a>
        <form class="form-inline mr-auto">
            <input class="form-control rounded-0" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0 rounded-left rounded-0" type="submit">Tìm kiếm</button>
        </form>
        <div class="btn-group mr-2" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Đăng nhập</button>
            <button type="button" class="btn btn-secondary">Đăng ký</button>
        </div>
        <!-- cart -->
        <div class="btn-group">
            <button type="button" class="btn btn-info rounded-0"><i class="fas fa-shopping-cart"></i></button>
            <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
        <!-- endcart -->
    </nav>
    <!-- main -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar-sticky fixed-top px-1" style="margin-top:56px">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1  text-success">
                      <span><i class="fas fa-plus-circle"></i> Danh mục sản phẩm</span>

                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-caret-right"></i> Phụ kiện Iphone
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-caret-right"></i> Phụ kiện Samsung
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-caret-right"></i> Phụ kiện Xiaomi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-caret-right"></i> Phụ kiện Oppo
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-caret-right"></i> Phụ kiện Sony
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-caret-right"></i> Phụ kiện hãng khác
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center mt-4 mb-1 text-success px-3">
          <span><i class="fas fa-plus-circle"></i> Website</span>
        </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-caret-right"></i> Chính sách bảo hành
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-caret-right"></i> Đổi trả hàng
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-caret-right"></i> Tin tức
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 border-left">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center mt-4 mb-2 text-success" style="border-bottom: 1px dashed #ccc">
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="#">Sản phẩm nổi bật</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Airpod 2018</li>
                      </ol>
                    </nav>
                </h6>
                <!-- pk noi bat -->
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://via.placeholder.com/350" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="product-title py-1">
                            <h1 class="h3 text-primary">Tai nghe Airpod 2018</h1>
                        </div>
                        <div class="product-price py-1">
                            <span class="h4 text-danger">500$</span> <span style="text-decoration: line-through;">800$</span>
                        </div>
                        <div class="product-option py-1">
                            <span class="h6">Màu sắc : </span>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Đen
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> Đỏ
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="options" id="option3" autocomplete="off"> Vàng
                                </label>
                            </div>
                        </div>
                        <div class="product-soluong py-1">
                            <span class="h6">Số lượng :</span>
                            <input type="number" value="1">
                        </div>
                        <div class="py-1">
                            <button class="btn btn-outline-success"><i class="fas fa-cart-plus"></i> Thêm vào giỏ</button>
                            <button class="btn btn-success">Đặt mua</button>
                        </div>
                        <div class="py-1">
                            <h6>Thông tin lưu ý :</h6>
                            <p>Hoàn tiền 100% nếu chất lượng sản phẩm không như cam kết</p>
                            <p>Phản hồi chất lượng dịch vụ: 0938.284.482</p>
                            <p>Hotline: 1900.77.99.49 | Hoạt động từ 8h30 đến 18h00 (T2-T7)</p>
                        </div>
                    </div>
                </div>
                <!-- tab -->
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Mô tả sản phẩm</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Bình luận</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Sản phẩm liên quan</a>
                    </div>
                </nav>
                <div class="tab-content border border-top-0 p-2" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        MÔ TẢ SẢN PHẨM Tai nghe Bluetooth Creative Outlier Sports:
                        <br> _ Nam châm Neodymium 6mm
                        <br> _ Microphone & Control Button
                        <br> _ Tần số 20Hz - 20kHz
                        <br> _ Bluetooth (dài 0.5m, nặng 15g)
                        <br> _ Chống nước IPX4
                        <br> _ Pin 11h
                        <br> _ Màu: Xanh Neon, Cam Rực Lửa, Xanh Huyền Bí
                        <br>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum odit molestias velit, aliquid repudiandae officiis libero minima autem quod, omnis nihil, accusantium debitis enim aperiam vitae. Reprehenderit quis, hic possimus commodi dolores esse ex unde cupiditate temporibus illo in perferendis nisi, fuga magnam minus culpa laboriosam debitis voluptas amet voluptate?</div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                </div>
                <!-- endtab -->

            </div>
        </div>
        <div class="row bg-light border-top">
            <div class="col-md-6">Cửa hàng</div>
            <div class="col-md-3">Thông tin</div>
            <div class="col-md-3">Hỗ trợ thanh toán</div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>